@charset "UTF-8";
/* CSS Document */

html {font-family: Calibri, san-serif;}





.jumbotron {background: url(ComalRiverGazebo.jpeg);
	  background-size: cover;} 

/* Heading Styles */
h1 {
  font-size: 75px;
  color: #fff;
  text-align: center;
}

h2 {color: #17a2b8;}

.lead {color: #fff;}

/* Submit Button */
.button-submit {
  background: #17a2b8;
  border-radius: 20px;
  color: #fff;
  cursor: pointer; 
  display: block;
  font-size: 20px;
  font-weight: bold;  
  margin: 0 auto 60px;
  padding: 1em 2em; 
  text-align: center; 
}