@charset "UTF-8";
/* SCSS Document */

/* Variables */
$myFont: Calibri, sans-serif;
$myColor-aqua: #17a2b8;
$myColor-purple: #5e308b;

html {font-family: $myFont;}

/* Navbar */

nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    color: $myColor-aqua;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}


.jumbotron {background-color: transparent;
	background-image: url("../img/ComalRiverGazebo.jpeg");
	  background-size: cover;} 


/* Heading Styles */
h1 {
  font-size: 75px;
  color: #fff;
  text-align: center;
}

h2 {color: $myColor-aqua}

.lead {color: #fff;}

/* Submit Button */
.button-submit {
  background: myColor-aqua;
  border-radius: 20px;
  color: #fff;
  cursor: pointer; 
  display: block;
  font-size: 20px;
  font-weight: bold;  
  margin: 0 auto 60px;
  padding: 1em 2em; 
  text-align: center; 
}
